* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: salmon;
}

@media (max-width: 480px) {
  .box {
    background-color: lightseagreen;
  }
}
