#container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 50px);
  grid-template-areas:
    "b a a ."
    "b c c c"
    "b c c c"
    "b c c c"
    "b c c c"
    "b . . .";
}

.item {
  text-align: center;
  color: white;
}

#item-1 {
    grid-area: a;
    background-color: lightcoral;
}

#item-2 {
    grid-area: b;
    background-color: lightgreen;
}

#item-3 {
    grid-area: c;
    background-color: lightskyblue;
}
